body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.carousel-inner img {
    height: 300px;
    object-fit: cover;
}

.carousel-banner {
    max-height: 300px;
    overflow: hidden;
}
