/* styles.css */

body {
    margin: 0;
    padding: 0;
}

.hero-banner {
    background-color: #db3434;
    color: #fff;
    text-align: center;
}

.hero-banner .container {
    max-width: 800px;
}

.hero-banner img {
    max-width: 100%;
    height: auto;
}

.hero-title {
    margin-top: 60px;
}

.hero-description {
    margin-top: 30px;
    margin-bottom: 30px;
}
